# PlatformIO Core specific files
.venv/
.pio/
build/
lib_deps/

# VSCode specific files
.vscode/
*.code-workspace

# Mac OS specific files
.DS_Store
.Trashes
.DS_Store?
._*
.Spotlight-V100
.fseventsd
.idea/

# Python specific files
__pycache__/
*.pyc
*.pyo

# C++ specific files
*.gch
*.o

# PlatformIO specific files
platformio.ini
